 /* font読み込み */
.font-family{
  font-family: 'Raleway', sans-serif;
}


body{
  font-family: 'Lato', sans-serif;
}

/* 全体の横幅してい */
.inner{
  width: 1100px;
  margin: 0 auto;
}

/* ヘッダー作成 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.fa-bars{
  display: none;
}

.header{
  background-color: #fff;
  padding: 15px 0;
  /* padding-top: 15px;
  padding-bottom: 15px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.contact-button{
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  float: right;
  transition-duration:0.3s;
  text-decoration: none;
}

.contact-button:hover {
  /* 変化後の色 */
  color: #333;
}

/* graybox */
/* header との重なり解消 */
 .main{
  padding-top: 70px;
} 

.mainbox {
  z-index: 10;
  background-color: #f2f2f2;
  padding: 250px 0;
  /* padding-top: 250px;
  padding-bottom: 250px; */
}

.greentext{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
}

.graytext{
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

/* greenbox作成 */
.main-green-box{
  background-color: #74cfae;
  padding-top: 50px; 
}

.greenbox{
 vertical-align: bottom;
}

.main-text-long{
  float: right; 
  color: #fff;
  width: 60%;
} 

.text-greenbox{
  font-size: 24px;
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
} 

.text-greenbox-long{
  font-size: 20px;
  margin-top: 35px; 
  text-align: center;
}    

/* gray-phot-box */
.gray-phot-box{
  background-color: #f2f2f2;
  /* margin: 0 auto; */
  padding-bottom: 70px;
  padding-top: 60px;
}

.gray-phot-text{
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  /* padding-top: 60px; */
  /* padding-bottom: 40px; */
  /* font-family: 'Raleway', sans-serif; */
}

/* 写真横並び */
.small-phot-box1{
  font-size: 0;
  /* display: inline-block; */
  /* margin-bottom: 80px; */
}

.img-box{
  display: inline-block;
  margin-right: 100px;
  opacity: 0.7;
  transition-duration:0.3s;
  margin-top: 80px;
  width: 300px;
}

.img-box:hover{
  opacity: 1;
}

.img-box:nth-child(3n) {
  margin-right: 0;
}

.img-box:nth-child(-n+3){
margin-top: 0;
}

/* 画像の下の文字 */
.Email-box{
  margin-top: 90px;
  text-align: center;
}

.bottom-email-text{
  text-align: center;
  width: 40%;
  display: inline-block;
}

.Email-button{
  background-color: #74cfae;
  color: #fff;
  padding: 14px 20px;
  font-size: 12px;
  display: inline-block;margin-left: 90px;
  transition-duration:0.3s;
  text-decoration: none;
}

.Email-button:hover{
  color: #333;
}

/* クルクルbox */
.skill-box{
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill-main-text {
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 70px;
} 

.main-circle-box {
  /* margin: 0 auto; */
  text-align: center;
}

.circle-box{
  display: inline-block;
  margin-right: 150px;
  text-align: center;
  color: #fff;
}
.circle-box:last-child{
  margin-right: 0;
}

/* SNSコンテンツ */
.sns-box{
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
}

.font{
  color: #74cfae;
  text-align: center;
  font-size: 0;
}

.font-box{
  width: 185px;
  display: inline-block;
  transition-duration:0.3s;
  /* padding: 30px 0px; */
  padding: 20px 0px;
  font-size: 20px;
}

.font-box:hover{
  background-color: #fff;
}

/* footer */
.main-footer{
  background-color:  #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text{ 
  color: #fff;
  text-align: right;
}


/* レスポンシブ　TAB */

@media screen and (max-width:1199px){
  
  .inner{
    width: 97%;
  }

  /* スマホボックス */
  /* iphone green box */
  .main-green-box{
    /* padding-top: 50px; */
    padding-bottom: 25px;
  }

  .box-iphone{
    display: block;
  }

  .text-greenbox{
    margin-top: 20px;
  }

  .main-text-long{
    /* display: block; */
    width: 100%;
    float: none;
  }

  .box-iphone{
    margin: auto;
  }

  /* 写真box */
  

  .img-box{
    margin-right: 0;
    display: block;
    margin-top: 0px;
    margin: 0 auto;
  }

  .img-box:nth-child(3n) {
    margin-bottom: 80px;
    margin-right: auto;
  }

  .img-box:last-child{
    margin-bottom: 0;
  }

  .bottom-email-text{
    width: 100%;
  }

  .Email-button{
    /* display: block; */
    margin: 0 auto;
    margin-top: 40px;
    /* width: 60px; */
  }
  /* クルクルbox */
  .circle-box{
    display: block;
    margin-right: 0;
    margin-top: 88px;
  }

  .circle-box:first-child{
    margin-top: 0px;
  }

  /* Sns box */

  .font-box{
    width: 25%;
  }

}


/* レスポンシブ　スマホ */
@media screen and (max-width:767px){

  /* header */
  .contact-button{
    display: none;
  }

  /* hamberger */



 .fa-bars{
   display: block;
   float: right;
   border: 5px solid black;
   border-radius: 3px;
   padding: 3px;
   font-size: 30px;
 }

 .fa-bars:hover{
   color: #74cfae;
 }

  /* bolt theme box */
  .mainbox{
    padding-top: 160px;
    padding-bottom: 130px;
    /* background-color: #f2f2f2; */
  }

  /* .graytext{
    font-size: 30px;
  } */

  /* green iPhone box */
  .main-green-box{
  padding: 50px 0;
  }

  .greenbox{
    text-align: center;
  }

  .main-text-long{
    margin-top: 20px;
    /* font-size: 50%; */
    /* margin: 20px 78px; */
  }

 .box-iphone{
   display: inline-block;
   text-align: center;
 }
  
  .text-greenbox{
    font-size: 15px; 
  }

  .text-greenbox-long{
    margin-top: 15px;
    font-size: 14px;
    width: 100%;
  }


  /* Email section text2 */
/* .gray-phot-box{
  /* text-align: center; */

/* .img-box{
  margin-right: 0;
} */

/* .small-phot-box1{
  margin-left: 50px;
 } */

/* .img-box:nth-child(n+2){
  margin-top: 0px;
}  */

/* .img-box:nth-child(4) {
  margin-top: 80px;
} */

  .bottom-email-text{
    display: block;
    width: 100%;
  }

  /* .Email-button{
    /* display: block;
    margin: auto; */
    /* margin-top: 50px; */
    /* width: 200px; */

  /* SNSBox */

  .font-box{
    display: block;
    width: 100%;
  }

  .sns-box{
    padding: 50px 0;
  }

}


  
    
  








